{% extends 'store/main.html' %}
<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Checkout{% endblock %}</title>
</head>

<body>
    {% block content %}
    <div class="container-fluid mt-4 fs-anton">
        <div class="row">
            <div class="col-sm-6">
                <form id="form">
                    <div class="user-info">
                        <p>Enter User Info:</p>
                        <div class="row mb-3">
                            <div class="col-sm-12">
                                <input type="text" class="form-control rounded-0" name="username" id=""
                                    placeholder="name" required>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-12">
                                <input type="email" class="form-control rounded-0" name="email" id=""
                                    placeholder="email" required>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-12">
                                <input type="text" class="form-control rounded-0" name="phone" id=""
                                    placeholder="phone no" required>
                            </div>
                        </div>
                    </div>

                    <div class="shipping-info">
                        <p>Enter User Info:</p>
                        <div class="row mb-3">
                            <div class="col-sm-12">
                                <input type="text" class="form-control rounded-0" name="address" id=""
                                    placeholder="address" required>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-12">
                                <input type="text" class="form-control rounded-0" name="city" id="" placeholder="city"
                                    required>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-12">
                                <input type="text" class="form-control rounded-0" name="state" id="" placeholder="state"
                                    required>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-12">
                                <input type="text" class="form-control rounded-0" name="zipcode" id=""
                                    placeholder="zip code" required>
                            </div>
                        </div>
                    </div>
                    <i class="fs-anton">we will contact you as soon as your order is placed.</i>
                    <div class="">
                        <input id="form-button"
                            class="m-2 bg-site-green text-white td-none px-5 py-2 border border-0 fw-bold" type="submit"
                            value="Submit">
                    </div>
                </form>
                <div class="box-element text-center m-2 p-3">
                    <p class="fs-anton text-center">We Accept Paystack Options</p>
                    <div class="w-100 h-75 d-none">
                        <img class="img-fluid" src="{% static 'images/paystack-logo.jfif'%}" alt="">
                    </div>
                    <button type="submit" class="" id="payment-button" onclick="payWithPaystack()"> Pay
                        &#8358;{{order.get_cart_total|floatformat:2}}</button>
                </div>
            </div>
            <div class="col-sm-4">
                <h3 class="fs-anton">Your Order</h3>
                {% for item in items %}
                <div class="row mb-1">
                    <div class="col-sm-12">
                        <div class="d-flex">
                            <img class="row-image" src="{{item.product.imageURL}}">
                            <div class="mx-2 text-start">
                                <p class="fs-anton fw-bold">{{item.product.name}}</p>
                                <p class="fs-anton">&#8358;{{item.product.price|floatformat:2}}</p>
                                <p class="quantity fs-roboto ">x{{item.quantity}}</p>
                                <p class="fs-roboto fw-bold">&#8358;{{item.product.get_total|floatformat:2}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- cdn paystack popup Js library -->
    <script src="https://js.paystack.co/v1/inline.js"></script>
    <script type="text/javascript">
        // get cart total from backend
        var total = Number("{{order.get_cart_total|floatformat:2}}")
        console.log("total = " + total);
        // get the user info form element
        var form = document.getElementById('form');
        form.addEventListener('submit', function (e) {
            // prevent the form from submitting
            e.preventDefault()
            console.log('Form Submitted...')
            // call the method that sends user data to the database
            submitFormData();
        });

        /*
        document.getElementById('make-payment').addEventListener('click', function (e) {
            submitFormData()
        })*/


        function submitFormData() {
            console.log('Payment button clicked')

            var userFormData = {
                'name': null,
                'email': null,
                'total': total,
                'phone': null
            }

            var shippingInfo = {
                'address': null,
                'city': null,
                'state': null,
                'zipcode': null,
            }

            // user name and contact details
            userFormData.name = form.username.value
            userFormData.email = form.email.value
            userFormData.phone = form.phone.value

            // user shipping info data
            shippingInfo.address = form.address.value
            shippingInfo.city = form.city.value
            shippingInfo.state = form.state.value
            shippingInfo.zipcode = form.zipcode.value
            console.log('Shipping Info:', shippingInfo)
            console.log('User Info:', userFormData)

            var url = "/process_order/"
            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken,
                },
                // convert user info and shipping info to json to send to backend
                body: JSON.stringify({ 'userInfo': userFormData, 'shippingInfo': shippingInfo }),

            })
                .then((response) => response.json())
                .then((data) => {
                    console.log('Success:', data);
                    alert('Transaction completed');

                    // create cart and send to cookies
                    cart = {};
                    document.cookie = 'cart=' + JSON.stringify(cart) + ";domain=;path=/";

                    // reload page
                    window.location.href = "{% url 'store' %}";

                })
        }
    </script>
    {% endblock content %}
</body>