{% extends 'store/main.html'%}
<!DOCTYPE html>
{%load static%}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Our Policy{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="script.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <!-- link to angular CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <!-- link to fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700;800&family=Roboto+Condensed:wght@300;700&family=Roboto:wght@400;500&family=Rubik:wght@500;600&family=Saira+Extra+Condensed:wght@400;600&display=swap"
        rel="stylesheet">
    <!-- link to bootstrap icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
</head>

<body>
    {%block content%}
    <!-- banner section starts -->
    <section id="banner">
        <div class="container mt-5">
            <div class="custom-site-border">
                <h5 class="fs-saira fw-monospace">what am i up for?</h5>
                <h1 class="fs-saira display-2 text-uppercase">privacy policy</h1>
            </div>
            <!-- <div class="banner">
                <h1>test</h1>
                <img src="./images/site-logo.jpg" alt="" class="banner-image">
            </div> -->
        </div>
    </section>
    <!-- banner section ends -->
    <!-- advert section start -->
    <marquee behavior="" direction="ltr" class="bg-black text-white fs-saira display-1">🎁🎀🎉🎈🎄christmas offer: upto
        50% off! 🎉🎀🎁💥❤🎄</marquee>
    <!-- advert section end -->
    <section id="pageSection">
        <div class="container">
            <div class="w-90">
                <h5>summary</h5>
                <p>The Always Forward Shop Limited (‘Always Forward’, ‘we’, ‘us’) is the controller and responsible for
                    protecting your personal data and handling it responsibly.</p>
                <p>This policy covers the personal data that Arsenal processes whenever you interact with us, including
                    when you engage with us online (such as on social media or by using our websites and apps), when you
                    attend events at Emirates Stadium, and when you correspond with us (such as by email or over the
                    phone).  It also covers personal data that we may receive from third parties.</p>
                <p>The sections below explain in more detail:</p>
                <ul>
                    <li><a href="#personalInfo">your personal info</a></li>
                    <li><a href="#rights">how to contact us and enforce your rights</a></li>
                    <li><a href="#duration">how long we retain your personal data</a></li>
                    <li><a href="#what">what do we use your personal data for</a></li>
                    <li><a href="#why">why we take your personal data</a></li>
                    <li><a href="#withdraw">your rights to withdraw your consent and to object (including to direct
                            marketing)why
                            we take your personal data</a></li>
                </ul>
                <p>If you would like to know how we collect information about your use of our websites, apps and social
                    media sites, you can read our <a href="">Cookies Policy here.</a></p>
                <p>Whilst interacting with us, you may decide to follow links to websites which are operated by third
                    parties who control the collection and use of your personal data. In these situations, Always
                    Forward does
                    not control how your personal data is processed and therefore you should read the privacy policy and
                    cookie policy (as applicable) located on such third-party websites. </p>
                <div id="personalInfo">
                    <h5>personal data we collect from you</h5>
                    <p>We collect personal data from your interactions with us, such as when you engage with us online
                        (such as on social media or by using our websites and apps), attend an event at Emirates
                        Stadium, or when you email or phone us. </p>
                    <p>The personal data we collect from you includes: </p>
                    <ul>
                        <li>the name and contact details that you provide when you register as a member with us </li>
                        <li>your purchase, payment and address details</li>
                        <li>your marketing preferences, including any consents you have given us</li>
                        <li>your browser or device information </li>
                        <li>information about your use of our websites and apps</li>
                        <li>your communications with us </li>
                        <li></li>
                    </ul>
                </div>
                <div id="rights">
                    <h5>how to contact us and enforce your rights</h5>
                    <p>The easiest way to stop receiving information from us is by opting out of communications through
                        your online preference centre (this is linked to in our communications with you and is
                        accessible at times via your account settings).  You can also correct your registration details
                        through your online account. </p>
                    <p>We will do our best to assist with any queries you have about your personal data within 30 days
                        of receipt.  You can contact our Data Protection Officer at any time using the contact details
                        below.  When you do so, please provide your full name, your preferred contact information, and a
                        summary of your query. </p>
                </div>
                <div id="duration">
                    <h5>how long we retain your personal data</h5>
                    <p>We retain personal data about your membership for as long as your account remains active, and for
                        a limited period of time afterwards (in case you decide to reactivate your membership or have
                        queries about it). </p>
                    <p>We retain personal data relating to your purchases for several years from the date of the
                        relevant
                        transaction.  This is to understand your purchasing preferences and to meet our legal and
                        contractual obligations.  If your purchase has enduring relevance (such as a Celebration Corner
                        plaque) then we’ll keep relevant information for as long as we remain responsible to you for
                        that purchase.</p>
                </div>
                <div id="what">
                    <h5>what do we use your personal data for</h5>
                    <p>This section explains the reasons why we process your personal data and our legal bases for doing
                        so.</p>
                    <h5>legitimate reasons</h5>
                    <p>We process your personal data when necessary to pursue our legitimate interests in the
                        following: </p>
                    <ul>
                        <li>Tailoring our websites and communications for you. We collect information about your
                            engagement with us online (such as pages that you have visited on our websites or apps) and
                            combine that with aggregated insights we have about our supporter base, to build a fuller
                            understanding of your individual preferences.</li>

                        <li>Monitoring, improving, and protecting our products, content, and services.</li>

                        <li>Monitoring and enforcing compliance with our ticketing terms and conditions and ground
                            regulations.</li>

                        <li>Preventing abusive, discriminatory, or otherwise inappropriate or offensive behavior,
                            whether in person or online, that is directed towards any football club (including their
                            players or other members of staff), match official, or any other individual attending or
                            involved in a football match.</li>

                        <li>Administering any Membership you have with us.</li>

                        <li>Checking the credit or debit card details you provide (to process your payments and prevent
                            fraudulent transactions).</li>

                        <li>Sending you some types of direct marketing, including by email and post.</li>

                        <li>Responding to your comments or complaints.</li>

                        <li>Undertaking or inviting you to take part in market research.</li>

                        <li>Querying whether you have had an issue completing an online form.</li>

                        <li>Preventing, investigating, and/or reporting fraud, terrorism, misrepresentation, security
                            incidents, or crime.</li>

                        <li>To protect the health and safety and security of our spectators, staff, and other visitors
                            to our sites; to enforce our terms and conditions and ground regulations; and to help detect
                            and prevent unlawful activity using, for example, incident reports and CCTV footage.</li>

                        <li>Managing legal claims, compliance, regulatory, and investigative matters.</li>

                        <li>Processing job applications received through www.careers.arsenal.com.</li>

                        <li>Administering programs run by us or our partner agencies that you have chosen to participate
                            in.</li>
                    </ul>

                </div>
                <div id="why">
                    <h5>why we take your personal data</h5>
                    <p>This section explains the reasons why we process your personal data and our legal bases for doing
                        so</p>
                    <p>If you’ve opted-in to receive information and offers relating to the Club and our commercial
                        partners (for example by ticking a box on one of our websites or apps), then we’ll provide this
                        information to you by email, text, or phone. <a href=""> Click here for a list of our current
                            partners. </a></p>
                </div>
                <div id="withdraw">
                    <h5>your rights to withdraw your consent and to object (including to direct
                        marketing)why
                        we take your personal data</h5>
                    <p>Wherever we rely on your consent to process personal data, you always have a right to
                        withdraw that consent.   <a href="">Click here to see the situations where we rely on your
                            consent.</a> </p>
                    <p>You also have the right to object to any use of your personal data for direct marketing purposes,
                        as well as to processing that we undertake based on our legitimate interests <a href=""> Click
                            here to see the situations where we process data for our legitimate interests. </a></p>
                </div>
                <div class="contact-our-rep">
                    <p>To comply with the General Data Protection Regulation (2016/679) we have also appointed a
                        European representative. If you wish to contact them, their details are as follows:</p>
                    <p>If you have unresolved concerns, you also have the right to complain to an EU data protection
                        authority where you live, work or where you believe a breach may have occurred. This is likely
                        to be the Information Commissioner’s Office in the UK (www.ico.org.uk). </p>
                    <h5>Last updated 03 August 2023</h5>
                    <p>We suggest that you check back here for updates, as we will update this policy from time to time.
                    </p>
                    <p class="fst-italic">Copyright 2023 The Arsenal Football Club Limited. Permission to use
                        quotations from this article is granted subject to appropriate credit being given to
                        www.alwaysforward.com as the source.</p>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}
</body>

</html>